.App {
  text-align: center;
}

.btn-large {
  margin: 30px;
}

.flow-text {
  font-size: 1.4rem;
}

.card-image  {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}